SetEnv PHP_VER 5_4
SetEnv REGISTER_GLOBALS 0

AddDefaultCharset UTF-8

IndexIgnore *

<IfModule mod_rewrite.c>

RewriteEngine On
RewriteCond %{HTTP_HOST} ^lucas-girard\.fr$ [NC]
RewriteRule ^(.*)$ http://www.lucas-girard.fr/$1 [R=301,L]
</IfModule>