/* General */
body {
    background-color: black;
    min-width:1000px;
}

p {
    margin: 0px;
}
/* END General */
/* Header */
header {
    text-align: center;
    background-color: #232323;
}


/* END Header */
/* Menu */
#menu ul {
    margin: 0px;
    padding: 0px 5px;
    list-style-type: none;
    text-align: center;

    font-size: 1px;
    letter-spacing: -1px;
    word-spacing: -1px;

    background:url("menu.png") repeat-x top right;
}

#menu li {
    display:inline-block;
    margin: 0px;
    padding: 0px;
    padding-left: 3px;
    padding-right: 5px;
    outline: 0px;
    border-left: 2px solid #ff6000;
    background:url("menu.png") repeat-x top right;
    font-size: 18px;
    letter-spacing: normal;
    word-spacing: normal;
}

#menu ul #last {
    border-right: 2px solid #ff6000;
}

#menu li:hover {
    background-color:#ff6000;
}

#menu {
    font-family:MV boli;
    border-top: 1px solid #ff6000;
    border-bottom: 1px solid #ff6000;

}

#menu a {
    text-decoration:none;
    color:#ffffff;
    margin: 0px;
    padding: 0px;
    outline: 0px;

}

/* END Menu */
/* SubMenu */
#submenu ul {
    font-size: 1px;
    letter-spacing: -1px;
    word-spacing: -1px;
    margin: 0px;
    padding: 0px 5px;
    list-style-type: none;

    text-align: center;
}

#submenu li {
    letter-spacing: normal;
    word-spacing: normal;
    display:inline-block;
    outline: 0px;

    margin: 0px;
    padding: 0px;
    padding-left: 3px;
    padding-right: 5px;
    border-left: 2px solid #ff6000;
    background:url("menu.png") repeat-x top right;
    font-size: 18px;
    border-top: 1px solid #ff6000;
    border-bottom: 1px solid #ff6000;
}

#submenu ul #last {
    border-right: 2px solid #ff6000;
}

#submenu li:hover {
    background-color:#ff6000;
}

#submenu {
    font-family:MV boli;
    margin-top: 5px;
}

#submenu a {
    text-decoration:none;
    color:#ffffff;
    margin: 0px;
    padding: 0px;
    outline: 0px;

}

/* END SubMenu */

#content {
    margin: 5px;
}


/* News */


.icone {
    border: 2px silver solid;
    border-radius: 5px;
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
}

h2 {

    display: inline-block;
    margin: 0px;
    vertical-align: middle;
    display: inline-block;
    font-family: MV boli;
}

.topnews {
    padding : 5px;
    color: #ffffff;
}

.bodynews {
    border-top: 2px solid #ff6000;
    border-bottom: 2px solid #ff6000;
    padding: 10px 5px;
    background-color: grey;
    text-align:center;
}

.bottomnews {
    margin: 2px 5px;
    color: #ffffff;
}

.bottomnewsright {
    display: inline-block;
    text-align: right;
    width: 50%;
}

.bottomnewsleft {
    display: inline-block;
    width: 50%;
}

article {
    margin-top: 10px;
    border: 2px solid #ff6000;
    border-radius: 5px;
    background-color: #232323;
}

.navnews {
    margin: 10px 0px;
    color: #ff6000;
    text-align: center;
}
/* END News */
/* Bottom */
footer {
    border-top: 2px solid #ff6000;
    background-color: #232323;
}
/* END Bottom */
/* TEST */
#body {
    border: 2px solid #ff6000;
    background-color: grey;
}
/* END TEST */

/*{
       margin: 0px;
       padding: 0px 5px;
       list-style-type: none;
       text-align: center;

       font-size: 1px;
       letter-spacing: -1px;
       word-spacing: -1px;

       background:url("menu.png") repeat-x top right;
}*/

.server {
    display:inline-block;
    margin: 0px;
    padding: 0px;
    padding-left: 3px;
    padding-right: 5px;
    outline: 0px;

    letter-spacing: normal;
    word-spacing: normal;
}

#members , #servers {
    text-align: center;
}


#members .lineup ul {
    font-size: 1px;
    letter-spacing: -1px;
    word-spacing: -1px;
    list-style-type: none;
    padding: 0px;
    margin:0px;
}

#members .lineup li {
    margin:0px;
    margin-bottom: 10px;
    margin-right:-1px;
    padding: 2px 5px;
    border: 1px solid black;
    display: inline-block;
    outline: 0px;
    font-size: 16px;
    letter-spacing: normal;
    word-spacing: normal;
}

.lineup table {
    margin: auto;
    border-collapse: collapse;
}

.lineup table td {
    border: 1px solid black;
}

.dispo {
    background-color: greenyellow;
}

.adispo {
    background-color: orange;
}

.ndispo {
    background-color: red;
}

.serversPlayers {
    background-color: white;
    overflow-y: auto;
    min-height:20px;
    max-height:100px;
    width:170px;
    text-align: left;
    margin-left: 27px;
    padding-left: 2px;
}

.server{
    vertical-align: top;
}