/*
COLOR
#232323: gris foncé
#808080: gris clair
#ff6000: orange
#ffffff: blanc
#000000: noir
#D8FFFD: bleu clair

#1F1A19: marron
#FF8027: orange
*/
/*for web text editor */

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

strike {
    text-decoration: line-through;
}

u {
    text-decoration: underline;
}
/* END General */
/* Principal */

a {
    color:#FF8027;
}

html {
    font-family: arial, sans-serif;
}

body {
    background-color: #DFDFCF;
    min-width: 1000px;
    margin: 0px;
    /*border: 2px solid #808080;*/

}

header {
    text-align: center;
    background-color: #1F1A19;
    border-bottom: 5px solid #FF8027;
}

header img {
    vertical-align: bottom;
}

table {
    border-collapse: collapse;
}

td {
    padding: 10px;
    vertical-align: top;
}

tr td:first-child {    
    text-decoration: underline;
    border-right: 1px solid #BFBFB7;
}

tr {
    border-top: 1px solid #BFBFB7;
}


header div {
    font-size: 40px;
    font-family: 'MV boli', sans-serif;
    color: white;

    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    filter:Shadow(color=#000000, direction=00);
    filter:Shadow(color=#000000, direction=90);
    filter:Shadow(color=#000000, direction=180);
    filter:Shadow(color=#000000, direction=270);

    position: absolute;    
    top: 50px;
    left: 35%;
}

#content {
    /*
    border: 5px solid #D8FFFD;
    background-color: #D8FFFD;
    */
    padding: 5px;
}

fieldset {
    margin:5px;
    padding: 10px;
}

fieldset legend {
    font-weight: bold;
}

fieldset ul {
    margin-top:0px;
}

fieldset li {
    list-style-type: none;
}

fieldset li:before {
    content: '- ';
}

fieldset span {
    text-decoration: underline;
}

footer {
    border-top: 5px solid #FF8027;
    background-color: #1F1A19;
    min-width: 215px;
    position:fixed;
    bottom: 0px;
    width: 100%;
    padding: 2px 0px;
}

footer img {
    vertical-align: bottom;
}

.center {
    width: 1000px;
    margin: auto;
}

.centerl {
    text-align: center;
}

.textcenter {
    text-align: center;
}

.leftColumnNF {
    display: inline-block;
    width: 300px;
    vertical-align: middle;
    text-align: center;
}

.leftColumnNF img {
    vertical-align: bottom;
}

.rightColumnNF {
    display: inline-block;
    width: 690px;
    vertical-align: top;    
}

.leftColumn {
    display: inline-block;
    width: 49.5%;
    vertical-align: top;
}

.rightColumn {
    display: inline-block;
    text-align: right;
    width: 49.5%;
    vertical-align: top;
}

.leftColumn3 {
    padding-left: 5px;
    display: inline-block;
    width: 33%;
}

.middleColumn3 {
    text-align: center;
    display: inline-block;
    width: 33%;
}

.rightColumn3 {    
    display: inline-block;
    text-align: right;
    width: 29.6%;
    vertical-align: top;
}

.logo {
    max-height: 100px;
    max-width: 200px;
}

.portefolio {
    max-height: 200px;
    max-width: 200px;
}

/* END Principal */
/* News */

h2 {
    margin: 0px;
    font-family: 'MV boli', sans-serif;
}

article {
    margin: 5px 0px;
    /*border: 2px solid #FF8027;*/
    border: 1px solid #BFBFB7;
    border-radius: 6px;
    background-color: #1F1A19;
}

.topnews {
    padding: 5px;
    color: #ffffff;
}

.bodynews {
    padding: 10px 5px;
    background-color: #E9E5DD;
    /*border-top: 2px solid #FF8027;
    border-bottom: 2px solid #FF8027;*/
}
/*TODO implement read more*/
.readMore{
    text-align: right;
    vertical-align: bottom;
    color:#FF8027;
}
.readMore a{
    color:#FF8027;
}

.obligatory {
    color: red;

}

.bottomnews {
    padding: 2px 5px;
    background-color: #EBE7DB;
    border-top: 1px dashed #BFBFB7;
}

/*TODO implement menu listing page*/
.navpage {
    margin: 10px 0px;
    color: #FF8027;
    text-align: center;
}
/* END News */

/* Menu */

nav {

}

nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;

    font-size: 1px;
    letter-spacing: -1px;
    word-spacing: -1px;
}

nav li {
    display:inline-block;
    font-size: 18px;
    letter-spacing: normal;
    word-spacing: normal; 

    margin: 0px;
    padding: 0px;
    outline: 0px;

    border-left: 2px solid #BFBFB7;
    border-top:2px solid #BFBFB7;
    border-bottom: 2px solid #BFBFB7;

    background:url("../image/menu.png") repeat-x top right;   
}

nav li:last-child {
    border-right: 2px solid #BFBFB7;
}

nav li a:hover {
    color: #FF8027;
}

nav li:hover {
    background-color:#FFFFFF;
}

nav li a {
    text-decoration:none;
    color:#000000;
    margin: 0px;
    outline: 0px;
    padding:10px 15px;
    display: block;
}

/* END Menu */
/* contact */
form {
    text-align: center;
}

form div {
    width:560px;
    margin: auto;
    text-align: left;
}

form div label {
    display: inline-block;
    width: 135px;
    height: 30px;
}
/* END contact */
/* download */
#download ul {
    font-size: 1px;
    letter-spacing: -1px;
    word-spacing: -1px;
    list-style-type: none;
    padding: 0px;
    margin:0px;
}

#download li {
    margin:0px;
    margin-bottom: 10px;
    margin-right:-1px;
    padding: 2px 5px;
    border: 1px solid #BFBFB7;
    display: inline-block;
    outline: 0px;
    font-size: 16px;
    letter-spacing: normal;
    word-spacing: normal;
}
/* END download */
hr {
    background-color: #BFBFB7;
    color: #BFBFB7;
}


#cover {
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background:gray;
    filter:alpha(Opacity=50);
    opacity:0.5;
    -moz-opacity:0.5;
    -khtml-opacity:0.5
}

#loading {
    width:300px;
    height:220px;
    text-align: center;
    position:fixed;
    top: 25%;
    left: 35%;
    z-index:100;
    background:white;
    padding:2px;
    border:1px solid gray
}

#photoCV {
    height: 155px;
}

.option {
    padding-left: 100px;
}

/* IE CRAP */
a img {
    border:none;
}
/* END IE CRAP */